<!DOCTYPE html>
<html>
    <head>
        <style>
            .container{
                display: grid;
                grid-template-columns: 100px 100px 100px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <span>1</span>
            <span>1</span>
            <span>1</span>
            <span>1</span>
            <span>1</span>
            <span>1</span>
            <span>1</span>
            <span>1</span>
            <span>1</span>
        </div>
    </body>
</html>